html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: blue;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.content{
  max-width: 960px;
  margin: auto;
}

nav{
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid wheat;
}

nav a:not(:first-child){
  margin-left: 20px;
}

footer{
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 30px;
  color: brown;
  border-bottom: 1px solid wheat;
  width: 80%;
  float: left;
}


.not-found{
  text-align: center;
  
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* dùng chung cho toàn app className=''*/