.title{
  color: black;
  padding-bottom: 0px;
  text-align: center;
}

.subtitle{
  color: black;
  padding-bottom: 50px;
  text-align: center;
}

.text{
  color: #777;
}

.btnMenu{
  display: block;
  width: 150px;
  padding: 8px 0;
  background: blue;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin-top: 7px;
}


.btnCom{
  display: block;
  width: 150px;
  padding: 8px 0;
  background: green;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin-top: 7px;
}
/* 1 */
.divTask1{
  width: 100%;
  height: auto;
  background-color: blueviolet;
  padding:20px;
  border-radius: 20px;
  z-index: 100;
}
.divTask1:hover{
  background-color: chartreuse;
  margin-top: -1px;
}
.divTask1 p{
  color: white;
}



/* dùng cho một modul nhất định ví dụ chỉ cho index className={style.prop} */